<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Ian Pratt | A simple programmer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">

	</script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/imgfilters.css')}}">
</head>

<body>
	<header class="header">
		<h3>Hello, I am Ian Pratt</h3>
		<p><i>A simple programmer</i></p>
		<nav class="navbar navbar-style">
        	<a href="{{url_for('home')}}">back to home</a>|<a href="{{url_for('aboutme')}}">about me</a>|<a href="{{url_for('otherwebsites')}}">other interesting websites</a>|<a href="{{url_for('github')}}">my Github page</a>|<a href="{{url_for('howididthis')}}">how i did this</a>|<a href="{{url_for('projects')}}">projects</a>|<a href="https://stats.ianpratt.tk/" target="_blank">server statistics</a>
		</nav>
    </header>
	<h1>CSS image filters</h1>
	<p>This is where I will apply css image filters to the same image of me!</p>
    </body>
</html>