@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
	font-family: 'Comfortaa', cursive;
	background: #40a6ff;
	color: black;
}
/* NOT USED NOW - NO IFRAMES IN USE (so far) */
iframe{
	border-style: none;
}

a:link{
	color: #009933;
}

a:visited{
	color: #3A0DCC;
}

img.logo{
	height: 50px;
	width: 50px;
}
.credits{
    font-size:8px;
}
#indexMugShot{
    width: 100px;
}

table {
    text-align: center;
}

h1 {
    color:darkblue;
}