@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
	font-family: 'Comfortaa', cursive;
	background: #40a6ff;
	color: black;
}
/* NOT USED NOW - NO IFRAMES IN USE (so far) */
iframe{
	border-style: none;
}

a:link{
	color: #009933;
}

a:visited{
	color: #3A0DCC;
}

img.logo{
	height: 15px;
	width: 15px;
}
.credits{
    font-size:8px;
}
#indexMugShot{
    width: 100px;
}

table {
    text-align: center;
}

h1 {
    color:darkblue;
}
div.content, div.footer{
	background-color:#4053ff;
	width:45%;
	left:27.5%;
	text-align:center;
	position: relative;
}

div a:link{
	color: #06c90f;
}

div a:visited{
	color: rgb(38, 9, 133);
}
header{
	text-align: center;
}
.footer{
	font-size:9px
}
.content{
	font-size: 15px;
}
div>code{
	text-align:left;
}