<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ian Pratt | A simple programmer | my github page</title>
    </head>
    <body>
        <h3>Hello, I am Ian Pratt</h3>
        <p><i>A simple programmer</i></p>
        <a href="{{url_for('home')}}">back to home</a>|<a href="{{url_for('aboutme')}}">about me</a>|<a href="{{url_for('otherwebsites')}}">other interesting websites</a>|<a href="{{url_for('github')}}">my Github page</a>|<a href="{{url_for('howididthis')}}">how i did this</a>
        <hr>
        <h1>How I did this</h1>
        <p>This was a <i>complicated</i> project.</p>
        <p>I'm not gonna lie, if you do this, you need to meet these requirements to some extent</p>
        <p>Requriements:</p>
        <ul type="disc">
            <li>A computer</li>
            <li>An email address</li>
            <li>Knowlege about Python</li>
            <li>You know how to work with Flask & Gunicorn</li>
        </ul>
    </body>
</html>