<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Ian Pratt | A simple programmer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">

	</script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>

<body>
	<header class="header">
		<h3>Hello, I am Ian Pratt</h3>
		<p><i>A simple programmer</i></p>
		<nav class="navbar navbar-style">
        	<a href="{{url_for('home')}}">back to home</a>|<a href="{{url_for('aboutme')}}">about me</a>|<a href="{{url_for('otherwebsites')}}">other interesting websites</a>|<a href="{{url_for('github')}}">my Github page</a>|<a href="{{url_for('howididthis')}}">how i did this</a>|<a href="{{url_for('projects')}}">projects</a>|<a href="https://stats.ianpratt.tk/" target="_blank">server statistics</a>
		</nav>
    </header>
	<div class="content">
	<h1>Welcome!</h1>
	<img src="{{url_for('static', filename='img/myfaceaa.jpg')}}" id="indexMugShot">
	<p>This is my website!</p>
	<p>This website is run on a <a href = "https://palletsprojects.com/p/flask/">Flask app</a> deployed using <a href="https://gunicorn.org/">Gunicorn</a> on a <a href = "https://github.com">Github</a> repository which runs on <a href="https://repl.it">repl.it</a> connected to <a href = "https://freenom.com">Freenom</a> via a CNAME record proxied through <a href="https://cloudflare.com">Cloudflare</a>.</p>
	<p>I'm 99% sure this is legal.</p>
	<p>Also, if you are one of my brothers, or my brothers' friends, please leave.</p>
	<p id="isbday">It's not my birthday yet :(</p>
	</div>
	<div class="footer">
        <p>This site is hosted by <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Repl.it_logo.svg"> repl.it. They are amazing</p>
	<p class="credits"><i>This image is from repl.it. All credits go to them</i></p>
		<p>
            This site is licensed under the MIT License. Check it out <a href="https://github.com/ipratt-code/my-website">here</a>!
        </p>
	</div>
	<script>
		var d = new Date()
		var isBday = document.getElementById("isbday");
		if(d.getMonth() == 11 && d.getDate() == 7){
			isBday.innerHTML = "🎉 It's my birthday! 🎉"
		}
	</script>
    </body>
</html>