<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ian Pratt | A simple programmer</title>
    </head>
    <body>
        <h3>Hello, I am Ian Pratt</h3>
        <p><i>A simple programmer</i></p>
        <a href="{{url_for('home')}}">back to home</a>|<a href="{{url_for('aboutme')}}">about me</a>|<a href="{{url_for('otherwebsites')}}">other interesting websites</a>|<a href="{{url_for('github')}}">my Github page</a>|<a href="{{url_for('howididthis')}}">how i did this</a>
        <hr>
        <h1>Welcome!</h1>
        <p>This is my website!</p>
        <p>This website is run on a <a href = "https://palletsprojects.com/p/flask/">Flask app</a> on a <a href = "https://github.com">Github</a> repository which runs on <a href="https://repl.it">repl.it</a> connected to <a href = "https://freenom.com">Freenom</a> via a CNAME proxied through <a href="https://cloudflare.com">Cloudflare</a>.</p>
        <p>I'm 99% sure this is legal.</p>
        <p>Also, if you are one of my brothers, or my brothers' friends, please leave.</p>
    </body>
</html>