<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ian Pratt | A simple programmer | other websites</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    </head>
    <body>
        <h3>Hello, I am Ian Pratt</h3>
        <p><i>A simple programmer</i></p>
        <a href="{{url_for('home')}}">back to home</a>|<a href="{{url_for('aboutme')}}">about me</a>|<a href="{{url_for('otherwebsites')}}">other interesting websites</a>|<a href="{{url_for('github')}}">my Github page</a>|<a href="{{url_for('howididthis')}}">how i did this</a>|<a href="{{url_for('projects')}}">projects</a>|<a href="https://stats.ianpratt.tk/" target="_blank">server statistics</a>
        <hr>
        <h1>Some interesting websites</h1>
        <p>My favorite webcomic is <a href = "https://xkcd.com">XKCD</a>. go check it out!</p>
    </body>
</html>